body{
	background-image: url('../images/dark_wood.png') !important;
	width: 100%;
	height: 100%;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

a {
	color: white;
}

a:link {
	background-color: transparent;
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: white;
	text-decoration: underline;
}

.container-fluid{
	width: 100%;
	min-height: 100%;
	position: relative;
}

.header{
	height: 20%;
	width: auto;
	background-color: rgba(86, 125, 188, 0.6);
	border-bottom-style: solid;
	border-color: rgba(222, 224, 226, 0.6);
	border-width: 10px;
}

.nav{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav a {
	margin-right: 10px;
	margin-left: 10px;
}
.nav a:first-child{
	margin-left: 0px;
}

.nav a:last-child{
	margin-right: 0px;
}

.main-body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-content{
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.appSide{
	padding-top: 10px;
	background-color: rgba(86, 125, 188, 0.6);
	border-style: solid;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.appSide h2{
	/*mark*/
	border-bottom-style: solid;
	border-width: 2px;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 10px;
}

#uploadOptions{
	margin-bottom: 10px;
}

#uploadOptions h2{
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#albumName{
	/*mark*/
	font-family: 'Open Sans Condensed', sans-serif;
/*	font-family: 'Josefin Slab', serif;
*/}

#app{
	height: auto;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: flex-end;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

#apiData{
	display: flex;
	direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.myImg{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: auto;
}

.myAlbum{
	width: 20%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;	
}

#directions{
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#directions input{
	height: 25px;
}

#directions button{
	height: 25px;
}

#albumName{
	font-size: 20px;
	font-weight: bold;
}

#clarifai{
	display: none;
	height: auto;
	width: auto;
	background-color: rgba(86, 125, 188, 0.6);
	border-style: solid;
	border-radius: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#dataTitle{
	font-size: 20px;
	color: whitesmoke;
	border-bottom-style: solid;
	border-width: 2px;
	margin-bottom: 10px;
}

/*input{
	background-color: blue;
	border-style: solid;
	border-width: 5px;
}*/

#dataImg{
	width: auto;
	height: auto;
	margin-top: 10px;
}

.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
/*	display: flex;
	direction: row;
	justify-content: space-around;
	align-content: center;*/
	text-align: center;
	font-size: 12px;
}

.clarifaiLogo{
	height: auto;
	width: auto;
}


ul {
      list-style: none;
      margin: 30px 0 0 0;
      padding: 0;
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      overflow:auto;
    }
    li {
      box-shadow: 0 0 0 2px #546578 inset;
      margin: 0 0 5px 0;
      border-radius: 16px;
      line-height: 28px;
      padding: 2px 15px;
      font-weight: 500;
      font-size: 15px;
      color: #2E4157;
    }
    ul li i{
      font-family: "Lucida Console", Courier, monospace;
      font-style: normal;
      font-size: 14px;
    }
    
    .conceptBox {
      float:left; 
      margin-left:40px; 
      margin-top:15px;
      margin-bottom:30px;
      height:100%;
    }



    @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 

		.appSide{
			width: 90%;
			height: auto;
			margin-left: 5% !important;
			margin-right: 5% !important;
			margin-bottom: 2.5%;
		}
	
		#clarifai{
			width: 90%;
			height: auto;
			margin-right: 5%;
			margin-left: 5%;
			margin-bottom: 2.5%;
		}
		
    }

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    	.appSide{
			width: 90%;
			height: auto;
			margin-left: 5% !important;
			margin-right: 5% !important;
			margin-bottom: 2.5%;
		}
	
		#clarifai{
			width: 90%;
			height: auto;
			margin-right: 5%;
			margin-left: 5%;
			margin-bottom: 2.5%;
		}
}
