html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-image: url('../images/grey_wash_wall.png');
}


.login-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-page div {
	margin-top: 10px;
	margin-bottom: 10px;
}

#login {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

#login-btn:hover {
	border-radius: 35px;	
	box-shadow: 3px 3px 3px black;
}

/*TITLE CSS - login-page, appTitle*/
.title {
	font-family: 'Damion', cursive;
	font-size: 75px;
	color: white;
	text-align: center;
    text-shadow: 0 3px 3px black;
}

.app-content .title {
	font-size: 55px;
}


/*Main wrapper for all page content*/
.container-fluid {
	height: 100%;
}

.main-content {
	height: 100%;
}

/*app-content - contains the functionality*/
.app-content {
	height: 100%;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

/*App title divider*/
.appTitle {
	width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    padding-right: 0px;
/*	box-shadow: 2px 2px 2px grey;*/
}

/*Nav CSS styling*/
.nav-content {
	height: 100%;
	width: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 2px 2px 2px grey;
}

.text-muted div:hover {
	color: white;
}

.text-white {
	font-size: 18px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #aaa;
}

/* a {color: #636c72 !important;text-decoration: none;}
a:link{color: #636c72; text-decoration: none;}
a:visited{color: #636c72; text-decoration: none;}
a:hover{color: #aaa; text-decoration: none;} */



.hamburger-hover-on-icon {
	transform: rotate(90deg);
/*	transition-duration: 0.5s;*/
}

.hamburger-hover-on-menu {
	display: block;
/*	transition-duration: 0.5s;*/
}

.hamburger-hover-off-icon {
	transform: rotate(180deg);
/*	transition-duration: 0.5s;*/
}

.hamburger-hover-off-menu {
	display: none;
/*	transition-duration: 0.5s;*/
}

.pos-f-t{
	height: auto;
}

#navbarToggleExternalContent {
	height: 275px;
}

.menu{
	height: 100%;
}

.text-muted{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/****************Modal CSS here**************/

#lean_overlay
{
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}


#modalTitle
{
	color: white;
	font-size: 35px; 
	font-weight: bold;
	text-align: center;
	font-family: 'Damion', cursive;
	margin: 10px 0px 20px 0px;
    text-shadow: 0 3px 3px black;
}
#addDisplay{
	color: white;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Damion', cursive;
	text-shadow: 0 3px 3px black;
	text-align: center;
	margin: 10px 0px 20px 0px;
}
#locBtn{
	margin: 5% 15% 5% 25%;
}
#inputBtn{
	margin: 5% 15% 5% 28%;

}
#newAlbumBtn{
	margin: 5% 0% 10% 20%;
}
#newInputBtn{
	margin: 5% 0% 5% 30%;
}
/* Button hover */
.btn, input, button{
	position: relative;
	display: inline-block;
	background-color: #aaa !important;
	color: white !important;
	font-size: 24px;
	font-weight: 600;
	font-family: 'Crimson Text', serif;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

input, button {
	margin-right: 5%;
}

.btn::after, input::after, button::after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover, input:hover, button:hover {
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

.btn:hover::after, input:hover::after, button:hover::after {
	opacity: 1;
}

/* .btn{
	background-color: #aaa;
	color: white;
	border: solid 2px black;
	border-radius: 7px;	
} */
#inputForm{
	margin-left: 30%;
}
label{
	color: white;
	font-size: 22px;
	font-family: "Damion", cursive;
}
.modalContainer
{
	background-image: url('../images/grey_wash_wall.png');
	/* background-color: rgb(154, 148, 148); */
	border-radius: 10px;
	position: absolute;
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
	 0 15px 12px rgba(0, 0, 0, 0.22);

}
.closeModal {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}

.closeModal:hover {
	color: #faa;
}

/* CSS for view album display */
h2, p {
	color: white;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 10px;
}
h2{
	font-family: 'Damion', cursive;
}
p{
	font-family: 'Crimson Text', serif;
}
.album{
	margin-top:10px;
	margin-bottom: 10px;
	width: 220px;
	height: 50px;
}
#albumName{
	color: white;
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	padding-top: 17px;
	margin-left: 10px;
}
.myAlbum {
	display: flex;
	margin-bottom: 10px;
}

#app{
	display: flex;
	flex-direction: row;
}

.myImg {
	width: 15%;
}


/* Media Query CSS */

@media only screen and (max-width: 1024px) and (min-width: 400px)  and (orientation: portrait){
/*	    if($(window).width() <= 1024){
        $('.pos-f-t').css('height', '20%;');
        $('.pos-f-t').css('width', '100%');
        $('.pos-f-t').css('display', 'flex');
        $('.pos-f-t').css('flex-direction', 'row');*/
    .nav-content{
    	height: 8%;
    	width: 100%;
    }

    .pos-f-t{
        display: flex;
    	flex-direction: row;
    }

    .text-muted{
        display: flex;
    	flex-direction: row;
    }
}





















