html{
    height: 100%;
    width: 100%;
}

.dashboard, .container-fluid{
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;

    padding: 0px !important;
    margin: 0px !important;

    background-color: rgb(34,30,34);
}

.main-content{
    min-height: 100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.background{
    background-color: rgba(34,30,34,0.75);
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-height: 100%;

    border: solid;
    border-radius: 10px;
}

.letter-color{
    color: #BFC1D2;
    font-size: auto;
    font-weight: bold;
}

.letter-color-select{
    color: #A24936;
    font-size: 25px;
}

.select{
    background-color: rgba(34,30,34,0.75);
}

.nav-icon{
    height: 90px;
    width: 90px;
}

.shrink-icon{
    height: 30px;
    width: 30px;
}

/* Wrapper for the whole nav section */
.nav-section{
    border-top: solid;
    border-bottom: solid;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

    height: 100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 15%;
    border-top: solid;
    border-bottom: solid;

    background-color: rgba(34,30,34,0.70);
}

.company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 15%;
    border-top: solid;
    border-bottom: solid;

    background-color: rgba(34,30,34,0.70);
}

.nav-content{
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(98, 104, 104,0.70);
}


.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links:active{
    color: #A24936;
    transform: scale(1.1,1.1);
}
/* Classes to help identify rows and coloumns for style of pages */
.one{
    border:solid 3px red;

}
.two{
    border: solid 3px yellow;
}
.three{
    border: solid 3px lightblue;
}
.four{
    border: solid 3px lightgreen;
}
/*--------------------------------------------------------
[ Unit Section on Dashboard and general top half for most of the dashboard]*/
.search-cont{
    border-top:solid 3px honeydew;
    border-bottom: solid 3px honeydew;
}
.search{
    position: relative;
}
.search input {
    text-indent: 30px;
}
.search .fa-search {
    position: absolute;
    top: 26px;
    left: 55px;
    font-size: 15px;
}
.unitSearch{    
    border-radius: 5px;
    border: solid 3px lightgray;
    width: 85%;
    height: 35px;
    margin: 3% 0 3% 8%;
    background-color: lavender;
}
#unitSearch{
    margin: 6% 0 3% 30%;
}
.fa-search{
    position: relative;
}
.button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background: -moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: -ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf', GradientType=0);
    background-color: #63b8ee;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: 2px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 9px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background: -moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: -ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee', GradientType=0);
    background-color: #468ccf;
}

.button:active {
    position: relative;
    top: 1px;
}
.addUnit{
    margin-top: 40%;    
}
.city{
    margin-left: 20%;
    margin-top: 20%;
}
/*------------------------------------------------------------
[ Unit section/city specific]*/
.table{
    margin-top: 9%;
    margin-left: 2%;
}

/*------------------------------------------------------------
[ Inspection Dashboard page ]*/
.card{
    margin: 5%;
}
.timeline-cont{
    margin-top: 11px;
    border: solid 3px gray;
    height: 574px;
}
.timelineTitle{
    margin: 10% 0% 10% 10%;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
.timeTable{
    margin: 3% 2% 0 0;
}
/*------------------------------------------------------------
[ Inspection Card slideshow page ]*/

/*------------------------------------------------------------
[ Report Dashboard]*/
.reportTab{
    margin-top: 3%;
    margin-left: 4%;
}

/*------------------------------------------------------------
[ Template Dashboard]*/



