<div class="container-fluid dashboard" style="display:none;">
   <div class="row main-content">
      <div class="col-sm-2 letter-color background">
         <div class="row nav-section">
            <div class="col-sm-12 logo">
               Header - Our Company Name
            </div>
            <div class="col-sm-12 nav-content">

               <div class="nav-links overview">
                  <img src="./assets/images/view_icon.png" alt="Overview" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Overview</div>
               </div>
               <div class="nav-links units">
                  <img src="./assets/images/home_icon.png" alt="Home" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Units</div>
               </div>
               <div class="nav-links inspection">
                  <img src="./assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Inspections</div>
               </div>
               <div class="nav-links template">
                  <img src="./assets/images/temp_icon.png" alt="Template" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Templates</div>
               </div>
               <div class="nav-links report">
                  <img src="./assets/images/rep_icon.png" alt="Report" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Reports</div>
               </div>
            </div>
            <div class="col-sm-12 company-info">
               Hometeam Property Management
            </div>
         </div>
      </div>
      <div class="col-sm-10 main">
         <div class="row">
            <div class="col-sm-2">
               <div style="color: Blue ">
                  <i class="fas fa-caret-square-left fa-4x"></i>
               </div>
            </div>
            <div class="col-sm-10">
               <div style="font-size: 24px; color: lightblue ">
                  <h1 class="dashTitle">Units</h1>
               </div>
            </div>
         </div>
         <div class="row search-cont">
            <div class="col-sm-8">
               <div class="search">
                  <span class="fas fa-search"></span>
                  <input type="text" class="unitSearch" placeholder="Search for specific unit">
               </div>
            </div>
            <div class="col-sm-4">
               <button id="unitSearch" class="button">Search</button>
            </div>
            <div class="row dash-main">
               {{!--insert dash information still deciding what we would like to implement --}}
            </div>
         </div>
      </div>
   </div>
</div>