{{#each unit}}
<div>
    <div>{{street}}</div>
    <div>{{city}},{{state}} {{zip}}</div>
</div>
{{/each}}

{{#each temp}}
    <div class="inspectDetails">
        <p>
            <button id="temp-btn-entry" class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"
                aria-controls="collapseExample">
                <img src="./public/assets/images/dropdown.png" alt="#" height="20px" width="20px">
                <div id="temp-label-entry"> Entry </div>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div id="temp-card-entry-walls" class="temp-card">
                    <span>Walls</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-ceiling" class="temp-card">
                    <span>Ceiling</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-doors" class="temp-card">
                    <span>Doors</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-flooring" class="temp-card">
                    <span>Flooring</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-baseboards" class="temp-card">
                    <span>Baseboards</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-doorbell" class="temp-card">
                    <span>Doorbell</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div id="temp-card-entry-lights" class="temp-card">
                    <span>Lights</span>
                    <div>N</div>
                    <div>S</div>
                    <div>D</div>
                </div>
            </div>
        </div>
    </div>
{{/each}}