<div class="container-fluid dashboard" >
   <div class="row main-content">
      <div class="col-sm-2 letter-color background">
         <div class="row nav-section">
            <div class="col-sm-12 logo">
               Header - Our Company Name
            </div>
            <div class="col-sm-12 nav-content">

               <a class="nav-links overview" href="/home">
                  <img src="./assets/images/view_icon.png" alt="Overview" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Overview</div>
               </a>
               <a class="nav-links units" href="/units">
                  <img src="./assets/images/home_icon.png" alt="Home" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Units</div>
               </a>
               <a class="nav-links inspection" href="/inspection">
                  <img src="./assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Inspections</div>
               </a>
               <a class="nav-links template" href="/templates">
                  <img src="./assets/images/temp_icon.png" alt="Template" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Templates</div>
               </a>
               <a class="nav-links report" href="/reports"> 
                  <img src="./assets/images/rep_icon.png" alt="Report" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Reports</div>
               </a>
            </div>
            <div class="col-sm-12 company-info">
               Hometeam Property Management
            </div>
         </div>
      </div>
      <div class="col-sm-10 main">
        <div class="row">
            <div class="col-sm-2">
                <div style="color: Blue ">
                    <i class="fas fa-caret-square-left fa-4x"></i>
                </div>
            </div>
            <div class="col-sm-10">
                <div style="font-size: 24px; color: lightblue ">
                    <h1 class="dashTitle">Inspections</h1>
                </div>
            </div>
            </div>
            <div class="row search-cont">
                <div class="col-sm-8">
                    <div class="search">
                        <span class="fas fa-search"></span>
                        <input type="text" class="unitSearch" placeholder="Search for specific Inspection">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button id="unitSearch" class="button">Search</button>
                </div>
        </div>
         <div class="row dash-main">
            <div class="col-sm-8">
               <div class="row">
                  <div class="col-sm-6">
                     {{!-- these cards will have general information (completed, in progress, not completed) it will display data pertaining to
                     each of these titles that is pulled from the database inspections collection --}}
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="card" style="width: 250px;">
                        <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 timeline-cont">
               <h1 class="timelineTitle">Timeline</h1>
               <table class="table table-striped table-hover timeTable" style="background-color:white;">
                  {{!-- this table gets filled in from data sent from the database of the most recently completed inspections and display chronologicly:
                  includes timestamp, who created the inspection and house address --}}
                  <tbody>
                     <tr>
                        <td>House 1</td>
                     </tr>
                     <tr>
                        <td>House 2</td>
                     </tr>
                     <tr>
                        <td>House 3</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>