
<div class="col-sm-9">
   <table class="table table-striped table-hover" style="background-color:#BFC1D2;">
      <thead class="thead-light">

         <tr>
            <th scope="col">Address</th>
         </tr>
      </thead>
      <tbody>
         {{#each unit}}
            <tr>            
                <td style="margin-top:35px;">{{street}}<button class="startIns" data-id="{{unit_id}}" href="#inspectionModal">Start Inspection</button></td>           
            </tr>
         {{/each}}        
      </tbody>
   </table>
</div>

<div id="inspectionModal" class="popupContainerTemp" style="display:none;">
    <div class="modal-content">
        <form class="temp-form validate-form">
            <span class="template-form-title ">Start Inspection</span>
            <div class="wrap-input100 validate-input" data-validate="Enter Inspection Name">
                <input type="text" class="input100" id="temp-title" name="title" placeholder="Inspection Name">
                <span class="focus-input100"></span>
            </div>

            <div>
                Unit for Inspection
                
            </div>

            <div>
                Choose a template to start the Inspection
                <div class="temp-name-btns">
                    {{#each temp}}
                    <button id="{{title}}" class="temp-selector">{{title}}</button>
                    {{/each}}
                </div>
            </div>
        </form>

    </div>

{{!-- <div class="col-sm-3">
    <button class="addUnit button" href="#addUnitModal">Add Unit</button>
</div> --}}



