
<div class="col-sm-9">
   <table class="table table-striped table-hover" style="background-color:#BFC1D2;">
      <thead class="thead-light">

         <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            {{#each units}}
            <td>{{street}}</td>
            {{/each}}
         </tr>
      </tbody>
   </table>
</div>



