<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Insightful Inspection</title>
   <!-- Font awesome cdn -->
   <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   <!-- Link to Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Damion|Lato" rel="stylesheet">
   <!-- Link to local css files -->
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/reset.css" />
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/style.css" />
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/modal.css" />
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/template.css" />
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/details.css">
   <!-- Link to dashboard css file -->
   <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/dashboard.css">
   <!-- Link to bootstrap css -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <!-- Link to JQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- Link to bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
        crossorigin="anonymous"></script>
    <!-- Link to sweet alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
   {{{body}}}
   <!-- leanModal.js -->
   <script type="text/javascript" src="../../assets/javascript/jquery.leanModal.min.js"></script>
   <!-- Link to javascript file -->
   <script src="../../assets/javascript/basicApp.js"></script>
   <!-- Link to JQuery Dashboard.js -->
   <script src='../../assets/javascript/dashboard.js'></script>
   <!-- Link to AWS file upload script -->
   <script src='../../assets/javascript/aws.js'></script>
</body>
</html>